/*** General Styles ***/

* {
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    font-weight: normal;
}

/*** Element Styles ***/

body {
    max-width: 965px;
    margin: 0 auto;
    padding: 10px;
}

h1, h2 {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 20pt;
    margin-bottom: 5px;
    margin-top: 25px;
}

hr {
    background-color: #dededf;
    border: none;
    color: #dededf;
    height: 1px;
}

input, select, textarea {
    display: block;
}

input[type=submit] {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 200px;
}

input[type=text], select {
    max-width: 350px;
    width: 100%;
}

input[placeholder] {
    font-style: italic;
}

label {
    display: block;
    margin-top: 10px;
}

h2 + label {
    margin-top: 0;
}

span.field-validation-error {
    color: red;
    font-style: italic;
}

span.input-description {
    color: gray;
    font-style: italic;
}

table.calendar {
    width: 100%;
}

table.calendar td {
    background-color: whitesmoke;
}

table.calendar td.free {
    background-color: limegreen;
    cursor: pointer;
}

table.calendar td.free:hover {
    background-color: forestgreen;
}

table.calendar td.booked {
    background-color: red;
    cursor: not-allowed;
}

table.calendar td.not-bookable {
    background-color: lightgray;
}

table.calendar th, table.calendar td {
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    width: 12.5%;
}

table.calendar td:first-of-type {
    background-color: white;
    cursor: default;
}

textarea {
    resize: both;
    width: 350px;
    max-width: 100%;
}

/*** Styles for Medium Screens ***/

@media (max-width: 850px) and (min-width: 570px) {
    table.calendar th, table.calendar td {
        font-size: 8pt;
    }
}

/*** Styles for Small Screens ***/

@media (max-width: 570px) {
    table.calendar th, table.calendar td {
        font-size: 6pt;
    }
}
