@*
    /*
     * Copyright (C) 2017 Naturmuseum St. Gallen
     *  > https://github.com/NaturmuseumStGallen
     *
     * Designed and engineered by Phantasus Software Systems
     *  > http://www.phantasus.ch
     *
     * This file is part of BookingPlatform.
     *
     * BookingPlatform is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     *
     * BookingPlatform is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU General Public License for more details.
     *
     * You should have received a copy of the GNU General Public License
     * along with BookingPlatform. If not, see <http://www.gnu.org/licenses/>.
     */
*@

@model AdminOverviewModel
@using BookingPlatform.Constants;
@using BookingPlatform.Models;

@{
    ViewBag.Title = Strings.Admin.EventOverview.PageTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>1Content goes here...</p>
<p>2Content goes here...</p>
<p>3Content goes here...</p>
<p>4Content goes here...</p>
<p>5Content goes here...</p>
<p>6Content goes here...</p>
<p>7Content goes here...</p>
<p>8Content goes here...</p>
<p>9Content goes here...</p>
<p>10Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>
<p>Content goes here...</p>

<p>Content goes here...</p>
<p>Content goes here...</p>

